@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins";
  margin: 0;
  height: 100%;
}

h2,
p {
  padding: 1em;
  color: white;
}

details {
  padding: 1em;
  color: black;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
}

#title {
  grid-column-start: 1;
  grid-column-end: 4;
  color: #05a5bd;
}

#one {
  background-color: #fe8a90;
  padding: 10px, 10px, 10px, 10px;
}

#two {
  background-color: #f7b95b;
  padding: 10px, 10px, 10px, 10px;
}

#three {
  background-color: #55bcb0;
  padding: 10px, 10px, 10px, 10px;
}

#four {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #61a780;
  padding: 10px, 10px, 10px, 10px;
}

summary {
  border-radius: 1em;
  padding: 0.5em 0.5em 0.5em;
  background-color: rgb(255, 255, 255, 0.3);
  max-width: 30em;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

form {
  background-color: black;
  font-size: 1rem;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #55bcb0;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(106, 163, 137);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  padding: 1em 2em;
  border: 2px solid rgb(106, 163, 137);
  border-radius: 1em;
  background: rgb(205, 255, 232);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
.btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(150, 232, 195);
  border-radius: inherit;
  box-shadow: 0 0 0 2px rgb(121, 186, 156), 0 0.75em 0 0 vrgb(106, 163, 137);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
.btn:hover {
  background: rgb(187, 232, 211);
  transform: translate(0, 0.375em);
}
.btn:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}
.btn:active {
  transform: translate(0em, 0.75em);
}
.btn:active::before {
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px rgb(121, 186, 156), 0 0.25em 0 0 rgb(121, 186, 156);
}
