/* SCROLLBAR */

::-webkit-scrollbar {
  width: 6.6vh;
}
::-webkit-scrollbar-track {
  background-color: rgb(46, 87, 221);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-image: url("images/image_1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* cursor */
